body,
html {
  height: 100%;
  margin: 0;
  padding-top: 70px;
  padding-left: 3%;
  padding-right: 3%;
  scroll-padding-top: 75px;
  scroll-behavior:smooth;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3)
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
}

/* navbar/profile-img/name/tags */
.navbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding-right: 15px;
  height: 70px !important;
  padding-left: 10px !important;
}

.profile-name {
  padding-top: 3px;
  padding-right: 10px;
  font-size: larger;
}

.profile-pic img {
  height: 50px;
  width: 50px;
  border-radius: 70%;
}

.dropdown-menu {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-top: 11px !important;  
  background-color:#212529f4 !important;
 }
 
 .dropdown-item {
  color: #f0ecec !important;
 }

 .dropdown-item:hover {
  background-color:#21252900 !important;
  color: #fff !important;
 }

 .dropdown-details {
  text-align: center !important;
 }

a,
h3,
h4,
h5,
h6,
p, 
strong{
  color: #fff !important;
}

hr {
  color: #fff !important;
}

/* divs for forms/inputs/button/svgs*/
svg {
  color: #f0ecec
}

#inlineFormInputName {
  background-color: #212529f3;
  color: white;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  margin-bottom: 6px;
}

.svg-sizing {
  width: 1.3rem;
  display: block;
  margin: auto;
  padding-right: 1px;
  color: rgba(80, 80, 80, 0.671);
}

login-div {
  width: 90%;
}

.form-div {
  margin: auto;
  max-width: 450px !important; 
  background: #212529f3;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin-bottom: 35px;
}

.form-div button {
  margin: auto;
  float: right;
}

.login-div button {
  display: block;
  float: none;
}

.update-div button {
  display: inline-block;
  margin: auto;
  margin-left: 15px;
}

.about-div {
  margin: auto;
  width: 60%;
  background: #212529f3;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  margin-bottom: 35px;
}

.about-div p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

.about-div a{
  font-weight: 500;
}

.cat {
  width: 150px;
  display:block;
  margin:auto; 
  border-radius: 8px;
}

.demo {
  display:block;
  margin:auto; 
  width: 98%;  
  border-radius: 7px;
}

.read{
  display:block;
  text-align: center;
  font-weight: 600;
  text-decoration: none;
}

.ref{
  text-align: center;
}
.ref a {
  text-decoration: none;
}

.ref hr {
  width: 30%;
  margin: auto;
}

.otp-div {
  margin-top: 2%;
  width: 350px!important;
}

/* notes */
.note {
  background: #363b41;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 30px auto;
  word-wrap: break-word;
}

.note button {
  float: right;
  margin-left: 15px;
}

.note p {
  float: right;
}

.footer-container {
  position: fixed;
  text-align: center;
  z-index:1;
  left: 0;
  bottom: 0;
  right: 0;
  padding-top: 3px;
  padding-bottom: 1px;
  max-width: 400px !important;
  border-width: thin;
  border-top-style: solid;
  border-color: #ccc;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-image:
    radial-gradient(#363b41,
      #353535);

}


/* media queries */
@media only screen and (min-width: 1600px) {
body {
  padding-left: 12%;
  padding-right: 12%;
}
}

@media only screen and (max-width: 600px) {
  body {
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 40px;
  }

  .form-div {
    width: 95% !important;
  }
  .about-div {
    width: 95% !important;
  }
}

@media only screen and (max-width: 575px) {
  .note {
    width: 85%;
  }
}
