
body {
	height: 100%;
	margin: 0;
  padding: 5%;
}

.asdasd{
 display: flexbox !important;
}

/* navbar/profile-img/name/tags */
.navbar {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-right: 20px;
  height: 70px !important;
  display: inline-block;
}

.profile-name {
  padding-top: 3px;
  padding-right: 10px;
  font-size: larger;
}

.profile-pic img {
  height: 50px;
  width: 50px;
  border-radius: 70%;
}

h3,
h4,
h5,
h6,
p {
  color: #fff;
}

hr {
  color: #fff !important;
}

/* divs for forms/inputs/button/svgs*/
svg {
  color: rgb(240, 236, 236)
}

.svg-sizing {
  width: 1.3rem;
  display: inline-block;
  padding-right: 1px;
  color: rgba(80, 80, 80, 0.671);
}

.facebook {
  padding-left: 8px !important;
}

#inlineFormInputName {
  background-color: #212529f3;
  color: white;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  margin-bottom: 6px;
}

.form-div {
  margin-top: 65px;
  width: 450px;
  background: #212529f3;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 65px;
  z-index: 0;

}

.form-div button {
  display: inline-block;
  margin: auto;
}

.update-div {
  position: absolute;
  width: 500px;
  height: 200px;
  margin: 5% auto;
  /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  z-index: 1;
}

/* notes */
.note {
  display: table-cell;
  background: #363b41;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 24px;
  float: left;
  word-wrap: break-word;
}

.note button {
  display: block;
  margin: auto;
}

p {
  float: right;
}



/* footer {
  position: absolute;
  text-align: center;
  bottom: -500px;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: rgb(214, 201, 141);
} */

/* .popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
} */